# Tuplas

### Estrutura:

tupla = (valor, valor, valor, ...)

### Diferença

Parece uma lista, mas é imutável.

### Vantagens:

- Mais eficiente (em termos de performance)
- Protege a base de dados (por ser imutável)
- Muito usado para dados heterogêneos (dados muito diferentes um dos outros)

### Criando tuplas

In [5]:
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
print(vendas)

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

### Acessando o valor de uma tupla

In [6]:
# Outro modo de acessar valores em uma tupla é determinando variáveis para os dados da tupla, isso se chama desempacotamento.
# Precisa ter a mesma quantidade de variáveis e dados
# Não é recomendado fazer o desempacotamento em listas

nome, data_contratacao, data_nasc, salario, cargo = vendas

# Vamos printar algum valor

print(salario)

2000

- o enumerate que vínhamos usando até agora, na verdade, cria uma tupla para a gente. Vamos ver na prática:

In [7]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for i, venda in enumerate(vendas):
        print('{} vendeu {} unidades'.format(funcionarios[i], venda))

João vendeu 1000 unidades
Lira vendeu 2000 unidades
Ana vendeu 300 unidades
Maria vendeu 300 unidades
Paula vendeu 150 unidades

In [9]:
for item in enumerate(vendas):
    i, venda = item
    print(i)
    print(venda)

0
1000
1
2000
2
300
3
300
4
150